footer {
  background-color: #1e1e1e;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 14px;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 40px; /* deja un poco de espacio desde el contenido */
}
