html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #000;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

router-outlet {
  flex: 1;
}

app-footer {
  margin-top: auto;
}
